<h1 class="title_page"> Index Posts </h1>

<section class="section_container container">
  <div class="container_photo border">
    <img src='<%= @posts.photo %>' alt='User photo' class="user_photo">
  </div>

  <div class="user_data_container border">
    <h2 class="user_name"><%= @posts.name %></h2>
    <h2 class="post_counter">Number of posts: <%= @posts.posts_counter %></h2>
  </div>
</section>

<% @posts.posts.each_with_index do |post, index| %>

  <%= link_to user_post_path(post.author_id, post) do %>

    <div class="general_container margin_10px">

      <div class="border">
        <h3>Post: <%= index + 1 %></h3>
        <p><%= post.text %></p>

        <div class="display_flex">
          <p>Likes: <%= post.likes_counter %> Comments: <%= post.comments_counter %></p>
        </div>

      </div>

      <div class="border">
        <% post.last_five_comments.each do |comments|%>
          <p><%= comments.author.name %>:<%= comments.text %></p>
        <% end %>
      </div>

    <div>

  <% end %>

<% end %>
  
<%= link_to new_user_post_path do %>
  <span class="border">Add new post</span>
<% end %>

<%= link_to new_user_post_path do %>
  <button>Pagination</button>
<% end %>
