  <section class="border container margin_10px padding_10px flex_direction_column">
    <div class="">
      <h3>"<%= @post.title %>" by <%= @post.author.name %></h2>
      <p class="display_flex">Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></p>
    </div>

    <p class=""><%= @post.text %></p>
  
  </section>
  
  <section class="border container margin_10px padding_10px flex_direction_column">



  <% @userposts.each do |comment|%>
    <p><%= comment.author.name %>: <%= comment.text %></p>
  <% end %>

    
  </section>

  <section>
    <%= render "shared/add_like"%>
  </section>

  <section>
    <%= render "shared/add_comment"%>
  </section>


  