<!DOCTYPE html>
<html>
  <head>
    <title>Stoupignan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Welcome to The Stoupignan Blog!</h1>

    <section class='links_container no_button_style border position_top_right'>
      <span class=''>
        <%= link_to 'Home', root_path %>
      </span>
    
      <%if user_signed_in? %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
      
    </section>

    <%= notice %>
    <%= alert %>
    
    <%= yield %>

    

  
    <footer>Thanks for using The Blog App!</footer>
  </body>
</html>
